*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Zodial Regular - 400 */
@font-face {
  font-family: "Zodiak";
  src: url("../public/fonts/Zodiak-Regular.woff2") format("woff2"),
    url("../public/fonts/Zodiak-Regular.woff") format("woff"),
    url("../public/fonts/Zodiak-Regular.ttf") format("ttf");
  font-style: normal;
  font-weight: 400;
}
/* Zodial Italic - 400 */
@font-face {
  font-family: "Zodiak";
  src: url("../public/fonts/Zodiak-Italic.woff2") format("woff2"),
    url("../public/fonts/Zodiak-Italic.woff") format("woff"),
    url("../public/fonts/Zodiak-Italic.ttf") format("ttf");
  font-style: italic;
  font-weight: 400;
}
/* Zodial Bold - 700 */
@font-face {
  font-family: "Zodiak";
  src: url("../public/fonts/Zodiak-Bold.woff2") format("woff2"),
    url("../public/fonts/Zodiak-Bold.woff") format("woff"),
    url("../public/fonts/Zodiak-Bold.ttf") format("ttf");
  font-style: normal;
  font-weight: 700;
}

/* Outfit Font Regular */

@font-face {
  font-family: "Outfit";
  src: url("../public/fonts/Outfit-Regular.woff2") format("woff2"),
    url("../public/fonts/Outfit-Regular.woff") format("woff"),
    url("../public//fonts/Outfit-Regular.ttf") format("ttf");
  font-style: normal;
  font-weight: 400;
}
/* Outfit Font SemiBold */

@font-face {
  font-family: "Outfit";
  src: url("../public/fonts/Outfit-Medium.woff2") format("woff2"),
    url("../public/fonts/Outfit-Medium.woff") format("woff"),
    url("../public//fonts/Outfit-Medium.ttf") format("ttf");
  font-style: normal;
  font-weight: 500;
}
/* Outfit Font SemiBold */

@font-face {
  font-family: "Outfit";
  src: url("../public/fonts/Outfit-SemiBold.woff2") format("woff2"),
    url("../public/fonts/Outfit-SemiBold.woff") format("woff"),
    url("../public//fonts/Outfit-SemiBold.ttf") format("ttf");
  font-style: normal;
  font-weight: 600;
}

html {
  font-family: "Outfit", sans-serif;
}
h1 {
  font-family: "Zodiak", "serif";
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Utility Classes */

/* Components */

.btn {
  padding: 0.3rem 0.8rem;
  border: 2px solid navy;
  border-radius: 5rem;
  font-weight: 500;
  font-size: 1rem;
  transition: all 0.4s ease-in;
}

.btn-pri {
  border-color: rgb(194, 52, 0);
  background-color: orangered;
  color: white;
}

.btn-pri:is(:hover, :focus-visible) {
  border-color: orangered;
  background-color: white;
  color: orangered;
}

.btn-sec {
  background-color: #e6e5e5;
  border-color: rgb(0, 0, 0);
}

.btn-sec:is(:hover, :focus-visible) {
  border-color: rgb(119, 119, 119);
  background-color: #000;
  color: white;
}

/* Utility classes */

.abs-center {
  position: absolute;
  width: max-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
